
header, section, footer, aside, nav, article, figure, figcaption {
	display: block;}
body {
	color: #000d1a;
	background-color: #f9f8f6;
	background-image: url("images/background.png");
	background-size:100%;
	background-position: center;
	font-family: Georgia, Times, serif;
	line-height: 1.4em;
	margin: 0px;}
.wrapper {
	width: 940px;
	margin: 20px auto 20px auto;
	border: 7px solid #b30000;
	background-color: #ffffff;}
header {
	height: 220px;
	background-image: url(images/header.jpg);
	background-size:90%;}
h1 {
	text-indent: -9999px;
	width: 940px;
	height: 70px;
	margin: 3px;}
nav, footer {
	clear: both;
	color: #ffffff;
	background-color: #1a8cff;
	height: 50px;}
nav ul {
	bottom:0;	
	margin:10;
	padding: 10px 0px 5px 20px;}
nav li {
	display: inline;
	margin-right: 50px;}
nav li a {
	color: #ffffff;}
nav li a:hover, nav li a.current {
	color: #000000;}
section.info {
	float: left;
	width: 600px;
	border-right: 1px solid #eeeeee;}
article {
	clear: both;
	overflow: auto;
	width: 100%;}
hgroup {
	margin-top: 40px;}
figure {
	float: center;
	width: 500px;
	height: 350px;
	padding: 5px;
	margin: 20px;
	border: 1px solid #eeeeee;}
figcaption {
	font-size: 90%;
	text-align: left;}
aside {
	width: 250px;
	float: left;
	padding: 0px 0px 0px 20px;}
aside section a {
	display: block;
	text-align:left;
	padding: 10px;
	border-bottom: 1px solid #eeeeee;}
aside section a:hover {
	color: #00e600;
	background-color: #efefef;}
a {
	color: #ff794d;
	text-decoration: none;}
h1, h2, h3 {
	font-weight: normal;}
h2 {
	margin: 10px 0px 5px 0px;
	padding: 0px;}
h3 {
	margin: 0px 0px 10px 0px;
	color: #de6581;}
aside h2 {
	padding: 30px 0px 10px 0px;
	color: #3377ff;}
footer {
	text-align:center;
	font-family: Brush Script MT,cursive;
	
	font-style: normal;
	font-size: 190%;
	padding: 40px 0px 0px 20px;}
img.msn {
width:96%;
}
img.bunny{
width90%;
}
